name: Daily Vulnerability Scan
on:
  workflow_dispatch:
  schedule:
    - cron: '40 15 * * *'
jobs:
  scan:
    name: Daily Trivy Vulnerability Scan (CRITICAL,HIGH)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.34.1
        with:
          image-ref: 'pgschk/foundryvtt-containerized:latest'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'